{% extends 'tracker/base.html' %}

{% block content %}
<h2 class="text-center">Register</h2>

<form method="POST" class="form-card">
    {% csrf_token %}

    {% if form.errors %}
    <div style="color:red; margin-bottom:10px;">
        {% for field, errors in form.errors.items %}
        {{ field }}: {{ errors.0 }}<br>
        {% endfor %}
    </div>
    {% endif %}

    {{ form.as_p }}
    <button type="submit" class="btn btn-full">Register</button>
</form>

<p class="text-center">
    <a href="{% url 'login' %}">Back to Login</a>
</p>
{% endblock %}